/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
    background-color: rgb(4, 96, 121);
    color: rgb(254, 254, 254);
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: -20px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
    color:rgb(16, 165, 116)
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px rgb(60, 96, 106) solid;
    margin: 10px;
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.section-header {
    text-align: center;
    color: rgb(51, 2, 186);

}
.margin {
    margin-top: 20px;
    margin-left: 20px;
    
}

.navbar {
    float: right;
    text-align: right;
    margin-top: 2px;
    margin-right: 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.section-text {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.images {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 250px;
    margin-top: 20px;
}

